<!-- Footer-->

<nav class="navbar navbar-inverse "> <!-- Inverse to make it black -->
  <div class="container">
   
    <!-- Menu -->
    <div id="footer" >
      <ul  class="nav navbar-nav navbar-left list-inline">
        <li id="copyright" >©2016 Irene Garcia</li>
         </ul>
       
       <ul  class="nav navbar-nav navbar-right list-inline">
      
        <li>Follow us: <a href="#" ><img src="images/facebook1.png" class="socmed" /></a>
        
        <a href="#" ><img src="images/twitter1.png" class="socmed" /></a>
       
        <a href="#" ><img src="images/youtube1.png" class="socmed" /></a>
        </li>





      </ul>

      </div>
    </div>
  </nav>