<!-- Subscribe to Newsletter call to action box showed in different pages -->
<div class="box2" id="newsletter">
    <h3>Subscribe to our newsletter </h3>
    
    <!-- Message only be visible when the form is successfully submitted -->
    <h3 id="form-newsletter-success" class="form-success hidden"> Great! You will now receive all our news in your inbox!</h3>
    <!--Form header-->
    <p>Register below and receive all news from The Monkees. </p>
    <div class="clear"></div>
  
      <!-- Form -->
    <div ng-controller="FormNewsletterController">
      <form id="form-newsletter" name="formNewsletter" ng-submit="submit(formNewsletter)" class="form-horizontal" novalidate>
          <label>Firstname</label>
          <input class="form-control"
                 type="text"      
                 name="firstname" 
                 ng-model="subscribe.firstname" 
                 ng-minlength=2
                 ng-maxlength=20 
                 required />
            <br>
           <!-- Error messages   -->
            <div class="error-container" ng-show="((formNewsletter.firstname.$invalid && formNewsletter.firstname.$dirty) || formNewsletter.firstname.$pristine) && submitted ">
              <p class="error" ng-show="formNewsletter.firstname.$error.required">This field is required</p>
              <p class="error" ng-show="formNewsletter.firstname.$error.minlength">Too short. Min 2 characters</p>
              <p class="error" ng-show="formNewsletter.firstname.$error.maxlength">Too long. Max 20 characters</p>
            </div>

          <label>Email</label>
          <input class="form-control"
                 type="email"                     
                 name="email" 
                 ng-model="subscribe.email" 
                 ng-minlength=5 
                 ng-maxlength=40 
                 required  />
          <div class="error-container" ng-show="((formNewsletter.email.$invalid && formNewsletter.email.$touched)||formNewsletter.email.$pristine)  && submitted">
              <p class="error" ng-show="formNewsletter.email.$error.required">This field is required</p>
              <p class="error" ng-show="formNewsletter.email.$error.email">Email is invalid</p> 
          </div>
          <div class="centered">
            <button class="btn btn-lg btn-danger">Subscribe</button>
          </div>
        </form>
    </div>
</div>