
<div class="container">
<div class="row">
  <div class="col-md-12">
      <!-- Carousel with banners and call to actions to different sections -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
       <!-- Slides -->  
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 --> 
        <div class="item active" >
          <img src="images/monkees-live2.jpg" alt="Monkees1">
          <div class="carousel-caption">
            <h1>Have an upcoming corporate event or wedding?</h1>
            <h2>Book our band and have a great party!</h2>
            <p></p>
            <p><a class="btn btn-danger btn-lg" href="#/book-band">Learn more</a></p>
          </div>
        </div>
          <!-- Slide 2 --> 
        <div class="item">
          <img src="images/monkees2.jpg" alt="Monkees1">
          <div class="carousel-caption">
            <h1>Do you like our songs?</h1>
            <h2>Now you can buy them online!</h2>
            <p><a class="btn btn-danger btn-lg" href="#/music">Learn more</a></p>
          </div>
        </div>
           <!-- Slide 3 --> 
        <div class="item">
          <img src="images/band4.jpg" alt="band">
          <div class="carousel-caption">
            <h1>Do you want to know more about the band?</h1>
            <h2>Get to know us!</h2>
            <p><a class="btn btn-danger btn-lg" href="#/the-band">Learn more</a></p>
          </div>
        </div>
        <!-- Carousel controls --> 
        <a class="left carousel-control"  role="button" data-slide="prev" data-target="#myCarousel">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div> 
  </div>  
</div>
</div>

<!-- Intro text --> 
<div class="container">
<div class="row">
  <div class="col-md-8" >
    
    <h3>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</h3>
  </div>
  <div class="col-md-4" >
    <!-- Newsletter box -->
    <newsletter-cta></newsletter-cta>
  </div>
</div>
</div>

<!-- Sections boxes -->
<div class="container">
<div class="row">
  <div class="col-md-4" >
    <div class="box1">
      <h1>Book a gig</h1>
      <img class="img-section" src="images/calendar.jpg">
      <p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
      <p><a class="btn btn-primary btn-lg" href="#/book-band">Read more</a></p>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="box1">
      <h1>The Band</h1>
      <img class="img-section" src="images/band1.jpg">
      <p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
      <p><a class="btn btn-primary btn-lg" href="#/the-band">Read more</a></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box1">
      <h1>Music</h1>
      <img class="img-section" src="images/earphones-music.jpg">
      <p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
      <p><a class="btn btn-primary btn-lg" href="#/music">Read more</a></p>
    </div>
  </div>
</div>
</div>




