<div class="container">
<div class="row">
	<div class="col-md-12 ">
		<h1 class="page-title">{{title}}</h1>
		<h4>
	Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-6" ng-controller="AudioPlayer" id="playlist">
		<h2>Featured Tracks</h2>
		<!--Audio Player-->
		<div id="audio-player" class="box1">
		
			<!-- Will take the src from the list below. Initialised with first song -->
			<h4>Now playing: {{song.title}}</h4> <!-- updates with the current song-->
			
			<img id="song-cover" alt="cover" />
			
			<audio controls preload="auto" >
  				<source type="audio/mp3" >
  				Your browser does not support the audio tag.
 			</audio>
 		
 			
 			<p id="error-song" style="color: red" class="hidden">Sorry, the song you selected is not available</p>
 			<h4>Tracklist</h4>

			<ul id="tracklist">
			<!-- ng-click calls a function that check what song was clicked and updates the player with that song-->
				<li ><span class="glyphicon glyphicon-music"></span>&nbsp;<a href="" id="Clarksville" ng-click="playThis('Clarksville')">Clarksville</a></li>
				<li><span class="glyphicon glyphicon-music"></span>&nbsp;<a href="" id="Daydream-Believer" ng-click="playThis('Daydream Believer')">Daydream Believer</a></li>
				<li><span class="glyphicon glyphicon-music"></span>&nbsp;<a href="" id="I-am-a-Believer" ng-click="playThis('I am a Believer')">I am a Believer</a></li>
				<li><span class="glyphicon glyphicon-music"></span>&nbsp;<a href="" id="Stepping-Stone" ng-click="playThis('Stepping Stone')">Stepping Stone</a></li>
				<li><span class="glyphicon glyphicon-music"></span>&nbsp;<a href="" id="Tailtoddler" ng-click="playThis('Tailtoddle-')">Tailtoddle (test not found)</a></li>

			</ul>
			
			
		</div>
	</div>
	<div class="col-md-1 "></div>
	<!-- Video Player-->
	<div class="col-md-5 ">
		<h2>Featured Video</h2>
		<div id="video-player">
			<video controls= "controls" preload="metadata" poster="images/video-poster.jpg" >
    			<source src="video/TheMonkees.mp4"  />
			</video>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>

<!-- iTunes Search API -->
<div class="row">
	<div class="col-md-12" ng-controller='ITunesListController'>
		<h2>Get our tracks in iTunes</h2>
		<!-- Buttons to show and close the search -->
		<p><br />
			<!-- Call function iTunes in the Controller to start the search-->
			<button id="search-the-monkees" class="btn btn-danger btn-lg" ng-click="itunes()">Search "The Monkees" in iTunes</button>

			<!-- Hides the search -->
			<button id="close-the-monkees" class="btn btn-warning btn-lg hidden" ng-click="closeSearch()">Close search</button>
		</p>
		<h3 id="itunesError" class="hidden error">There was an error with this search.</h3>
		<!-- Search Hidden at the beginning -->
		<div id="itunes-search" class="hidden">
			<h3><a href="" target="_blank"> The Monkees</a></h3>
		
			<div>
			<!-- table to show results -->
				<table>
					<thead id="itunes-header">
						<tr>
							<td class="col-md-2 col-sm-2 col-xs-1">Album Art</td > 
							<td class="col-md-3 col-sm-2 col-xs-2">Album</td> 
							<td class="col-md-4 col-sm-2 col-xs-2">Track</td>
							<td class="col-md-1 col-sm-2 col-xs-2">Preview</td> 
							<td  class="col-md-2 col-sm-2 col-xs-2">Price</td> 
						</tr>
					</thead>
					<tbody>
						<tr class="repeat" ng-repeat="track in iTunesList" id="itunes-results">
							<!-- Album cover -->
							<td><a href="{{track.collectionViewUrl}}" target="_blank"><img class="itunes-search-img "ng-src="{{track.artworkUrl100}}" /></a></td>
							<!-- Album name -->
							<td><a href="{{track.collectionViewUrl}}" target="_blank">{{track.collectionName}}</a></td>
							<!-- Song name -->
							<td><a href="{{track.trackViewUrl}}" target="_blank">{{track.trackName}}</a> </td>
							<!-- play song preview link -->
							<td><a href="{{track.previewUrl}}" target="_blank">Play <span class="glyphicon glyphicon-play"></span></a></td>
							<!-- Price -->
							<td><a href="{{track.trackViewUrl}}" target="_blank">${{track.trackPrice}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</div>
</div>
