<div class="container">
<div class="row">
	<div class="col-md-12 ">
		<h1 class="page-title">{{title}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-7 ">
		<video controls= "controls" preload="metadata" poster="../images/video-poster.jpg" >
    		<source src="../video/TheMonkees.mp4"  />
		</video>
	</div>

<!-- I want to do one player with 5 songs instead of 5 players -->
	<div class="col-md-5">
		<h4>Clarksville</h4>
		<audio controls preload="metadata">
  				<source src="../audio/Clarksville.mp3" type="audio/mp3">
 		</audio>

		<h4>Daydream Believer</h4>
		<audio controls preload="metadata">
  			<source src="../audio/DaydreamBeliever.mp3" type="audio/mp3">
 		</audio>

		<h4>I am a Believer</h4>
		<audio controls preload="metadata">
  			<source src="../audio/ImABeliever.mp3" type="audio/mp3">
 		</audio>

		<h4>Stepping Stone</h4>
		<audio controls preload="metadata">
  			<source src="../audio/SteppingStone.mp3" type="audio/mp3">
 		</audio>

		<h4>Tailtoddle</h4>
 		<audio controls preload="metadata">
  			<source src="../audio/tailtoddle_lo.mp3" type="audio/mp3">
 		</audio>
	</div>
</div>

<!-- I want to use iTunes Search API here 
<div class="row">
	<div class="col-md-12">
		See list in itunes
		<p><a class="btn btn-primary btn-lg" href="">GO</a></p>

		<div ng-controller='ITunesListController'>
			<div class="repeat" ng-repeat="track in iTunesList">
				<div class="col-md-2 col-sm-4 col-xs-6">
					<a href="#//{{movie.id}}">
						<movie-info-box info="movie"></movie-info-box>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>-->

</div>