<div class="container">
<div class="row">
	<div class="col-md-12 ">
		<h1 class="page-title">{{title}}</h1>
		<h4>
		Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-5 box1">
	<h3>New 1</h3>
	<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
	<a href="#/music" class="btn btn-lg btn-primary" >Check out our Music section</a>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5 box1">
	<h3>New 2</h3>
	<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p><a href="#/book-band." class="btn btn-lg btn-primary" >Check out our Upcoming Gigs</a>
	</div>

	</div>
	<div class="row">
	<div class="col-md-5 box1">
	<h3>New 3</h3>
	<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
	<a href="#/music" class="btn btn-lg btn-primary" >Contact us for more information</a>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5 box1">
	<h3>New 4</h3>
	<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p><a href="#/book-band." class="btn btn-lg btn-primary" >Check out Our Band page</a>
	</div>

	</div>
</div>

</div>



