
<div class="container">
<div class="row">
	<div class="col-md-12 ">
		<h1 class="page-title">{{title}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 ">
		<img class="img1" src="images/band4.jpg" /> 
		<h3>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</h3>
	</div>
	<div class="col-md-4">
	    <!-- Newsletter box -->
		<newsletter-cta></newsletter-cta>
	</div>
</div>
<!-- Band Members boxes -->
<div class="row">
	<div class="col-md-6">
		<div class="box1">
			<h2>David Jones (Voice & Guitar)</h2>
			<img src="images/dj.jpg">
			<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box1">
			<h2>Mike Don (Bass)</h2>
			<img src="images/md.jpg">
			<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="box1">
			<h2>Mark Nill (Drums)</h2>
			<img src="images/mn.jpg">
			<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box1">
			<h2>Peter Thomas (- )Variuos)</h2>
			<img src="images/pt.jpg">
			<p>Lorem ipsum dolor sit amet, pri et regione facilisi, minim voluptua dissentiunt an vix. Essent elaboraret in mei, ei sea veri postulant pertinacia. In ius facilisis dignissim, sea agam accusamus consequat cu. Nonumy concludaturque quo ea, pro recteque persequeris ad, noster omittam dissentiet vim an.</p>
		</div>
	</div>
</div>
</div>



